img {
    max-width: 100%;
}
canvas {
    display: none;
}
.form-range {
    width: 25%;
}

#resizeButton {
    border: 2px solid #5a4200;
}
#downloadLink {
    border: 2px solid #0e3709;
}



@media (max-width: 900px) {
    .form-range {
        width: 40%;
    }
}
@media (max-width: 768px) {
    .form-range {
        width: 60%;
    }
}